*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
.cabecera{
    position: fixed;
    float: left;
    width: 100%;
    margin-top: 0;
    padding: 0px 0px;
}
.flogo {
    position: fixed;
    width: 100px;
    height: 100px;
    background-image: url(img/log.png);
    background-size: cover;
}
.logo{
    display: inline;
}
.logo h1{
    position: fixed;
    margin-top: 25px;
    margin-left: 150px;
    font-family: 'Montez', cursive;
    font-size: 25px;
    color: black;
    mix-blend-mode: multiply;
}
.menus{
    float: right;
}
.menus ul{
    margin-top: 25px;
}
.menus ul li{
    display: inline;
    margin: 0px 15px;
}
.menus ul li a{
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

/*CONTENIDO EN GENERAL*/
.pantallaprincipal{
    width: 100%;
    height: 100vh;
    background-image: url("img/fcafe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.container-TituloG .titulo {
    width: calc(100vw - 20px);
    height: 100vh;
    font-family: 'Montez', cursive;
    font-size: 200px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* NAVBAR MENU GENERAL*/
.menugeneral{
    background-color: black ;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 999;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Josefin Slab', serif;
    color:white;
    margin-bottom: 60px;
    text-decoration: none;
}
.menugeneral a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    font-size: 25px;
    background-color: black ;
    margin: 0 10px;
    transition: .5s ease all;
    color: white; 
}
.menugeneral a:hover{
    transform: translateY(18px);
    background-color: gainsboro;
    text-decoration: none;
    color: black;
}

/*BEBIDAS*/
.nosotros{
    margin-bottom: 60px;

}
.nosotros .subtitulo{
    font-size: 35px;
    color: black;
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 700;
    z-index: 2;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.nosotros p{
    font-size: 20px;
}

.subtitulo{
    font-size: 20px;
    color: black;
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 700;
    z-index: 2;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.subtitulo span{
    background-color: gainsboro;
    padding: 0 15px;
    z-index: 99;
    position: relative;
}
.subtitulo::after{
    content: "";
    display: inline-block;
    height: 2px;
    width: 100%;
    background: black;
    position: relative;
    top: -29px;
    z-index: 1;
}
.menubebidas{
    background: gainsboro;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
}




/*TARJETAS*/
.tarjeta h2{
    font-family: 'Pacifico', cursive;
    color: white;
}
.tarjeta h3{
    font-family: 'Be Vietnam', sans-serif;
    color:white;
}
.tarjeta h4{
    font-family: 'Be Vietnam', sans-serif;
    color: white;
}
.wrap{
    width: auto;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}
.tarjeta-wrap{
    display: flex;
    justify-content: center;
    margin: 10px;
    -webkit-perspective: 800;
    perspective: 800;
}
.tarjeta{
    width: 200px;
    height: 200px;
    /*background: rgb(224, 221, 220);*/
    background:black;
    position: relative;
    transform-style: preserve-3d;
    transition: .7s ease;
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
    box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
}
 .adelante, .atras{
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
 }

 .adelante{
    width: 100%;
    height: 100%;
    -moz-background-size: 100% 100%; 
    -o-background-size: 100% 100%; 
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
 }

 .atras{
    transform: rotateY(180deg);
    padding: 0px;
    display: flex;
 }
 .texto{
    justify-content: center;
    padding: 12px;
    text-align: center;
    color: white;
    /*font-family: 'Liu Jian Mao Cao', cursive;*/
    font-family: 'Indie Flower', cursive;
 }
  .tarjeta-wrap:hover .tarjeta{
    transform: rotateY(180deg);
    
}

.t1{
    background-image: url(img/capuchino.jpg);
         
}
.t2{
    background-image: url(img/Te.jpg);
         
}

/*SEPARADOR*/
.separador{
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.separador p{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: 'Be Vietnam', sans-serif;
    padding: 10px;
    margin-bottom: 25px;
}
.s1{
    background-image: url(img/calientesb.jpg);
}
.s2{
    background-image: url(img/bocadillos.jpg);
}
.s3{
    background-image: url(img/postres.jpg);
}
.s4{
    background-image: url(img/comida.jpg)
}